name: Build Canary

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '**.md'
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: self-hosted
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Build
      shell: powershell
      run: |
        .\Packaging\Build.ps1 -Mode Canary

